@import 'compass';

.f-row{
	margin-bottom: 1rem;
}

.wrap-select{
	position: relative;
	overflow: hidden;

	select{
		@include opacity(0);
		width: 0;
		height: 0;
		position: absolute;
		top: -99999px;
		left: -99999px;
	}
}