@import 'compass';
@import 'compass/css3';

.f-row{
	margin-bottom: 1rem;
}

.cff-wrap-select{
	position: relative;
	max-width: 200px;
	height: 40px;
	position: relative;
	box-sizing: border-box;

	select{
		width: 0;
		height: 0;
		position: absolute;
		top: -99999px;
		left: -99999px;

		@include opacity(0);
	}

	.cff-option{
		&.cff-selected{
			background: #f4f4f4;
		}
		&.cff-opt-disabled{
			cursor: not-allowed;
			
			@include opacity(0.5);
		}
	}

	.cff-container-options{
		position: absolute;
		top: 100%;
		bottom: auto;
		left: 0;
		z-index: 10;
		width: 100%;
		background: #fff;
		box-sizing: inherit;
		height: 0;
		overflow: hidden;

		@include transition-property(height);
  		@include transition-duration(0.05s);
  		@include transition-timing-function(ease-in);

		&.cff-overflowed{
			overflow: auto;
		}

		&.cff-top{
			top: auto;
			bottom: 100%;
		}
	}

	.cff-container-display{
		width: 100%;
		height: 40px;
		line-height: 20px;
		overflow: hidden;
		padding: .5rem;
		border: solid #333 1px;
		box-sizing: inherit;
	}

	.cff-item{
		padding: .6rem;
	}

	.cff-group-title{
		font-weight: bold;
	}

	&:after {
		content: '';
		width: 0;
		position: absolute;
		right: 10px;
		top: 15px;
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
 		-webkit-transform: rotate(45deg);
	}

	&.cff-multiple{
		height: auto;
		min-height: 40px;
		
		.cff-container-display{
			height: auto;
			min-height: 40px;
			padding-bottom: 0;
			line-height: normal;
		}

		.cff-display{
			display: inline-block;
			margin-right: .5rem;
			margin-bottom: .5rem;
			padding: 2px;
			background: #f4f4f4;
		}

		.cff-option{
			padding-left: 1rem;
		}
	}

	&.cff-opened{
		.cff-container-options{
			border: solid #333 1px;
			border-top: none;
			
			/* if autoHeight is false */
			/*
			height: 200px;
			overflow: auto;
			*/
		}

		&:after {
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}
	}

	&.cff-disabled{
		cursor: not-allowed;
		background: #e3e3e3;
	}
}


.cff-wrap-check-radio{
	display: inline-block;
	vertical-align: middle;

	label{
		display: none;
	}
	input{
		display: none;
	}

	.cff-ui-input,
	.cff-ui-label{
		display: inline-block;
		vertical-align: middle;
	}

	.cff-ui-input{
		border-radius: 2px;
	    border: 1px solid #ccc;
	    vertical-align: middle;
	    display: inline-block;
	    margin: 0 10px 0 0;
	    position: relative;
	    height: 20px;
	    width: 20px;
	}

	

	&.cff-is-checkbox{
		.cff-ui-input{
			&:before{}
		}
	}

	&.cff-is-radio{
		.cff-ui-input{
			border-radius: 20px;

			&:before{
				@include transition-property(all);
	  			@include transition-duration(5s);
	  			@include transition-timing-function(ease-in);
				@include transform(translate(-50%, -50%) scale(0));
			}
		}
	}

	&.cff-is-checked{
		&.cff-is-checkbox{
			.cff-ui-input{
				&:before{
					content: "";
				    position: absolute;
				    top: 1px;
				    left: 6px;
				    display: table;
				    width: 6px;
				    height: 12px;
				    border: 2px solid #666;
				    border-top-width: 0;
				    border-left-width: 0;

				    @include transform(rotate(45deg));
				}
			}
		}

		&.cff-is-radio{
			.cff-ui-input{
				&:before{
					background: #666;
				    content: "";
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    height: 10px;
	    			width: 10px;
	    			border-radius: 10px;

	  				@include transform(translate(-50%, -50%) scale(1));
				}
			}
		}
	}
}